<h1>Student Form
<%= form_for (@student) do |f| %></h1>
  <h2><%= f.label :first_name %>
    <%= f.text_field :first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br>

    <%= f.submit %>
    <% end %>
</h2>